<h1>Teste Too Seguros</h1>

<p>
  Olá, esse é o teste para desenvolvedor da Too Seguros, nosso intuito é verificar seus conhecimentos quanto à algumas tecnologias que já utilizamos, sua desenvoltura com dotnet e estruturação de código.
  Nosso intuito não é analisar a estética, mas sim como você estrutura a solução.
</p>


<h2>Estrutura base do teste</h2>
<ul>
  <li>Você deve criar uma solução conforme instruções abaixo, sendo dividida em BackEnd e FrontEnd;</li>
  <li>Para backend, deverá ser uma WebAPI utilizando dotnet core;</li>
  <li>Para frontend, deverá utilizar Angular (versão 6 ou maior);</li>
  <li>Para armazenamento (banco de dados), deverão ser utilizados o MongoDb ou SQL;</li>
  <li>Caso opite por Base de Dados SQL, utilize EntityFramework;</li>
</ul>


<h2>O teste</h2>
<ul>
  <li>Crie uma aplicação que possua as seguintes telas:</li>
  <li>Criação de usuário</li>
  <li>Upload de arquivo</li>
  <li>Lista e download dos arquivos dos usuários</li>
</ul>

<h2>Detalhes das funcionalidades</h2>
<h3>Tela de criação de usuário</h3>
<p>Deverão ser exibidos os campos abaixo:</p>
<ul>
  <li>Nome</li>
  <li>Data de nascimento</li>
  <li>Usuário</li>
  <li>Senha</li>
</ul>

<ul>
  <li>Todos os campos são obrigatórios</li>
  <li>A data de nascimento não pode ser uma data futura</li>
  <li>A senha deverá conter ao menos 5 dígitos e ao menos um número e uma letra</li>
</ul>

<h3>Tela de upload de arquivo</h3>
<ul><li>Só permitir arquivos com extensao: JPG, PNG</li></ul>

<h3>Tela de lista com Uploads</h3>
<ul><li>Listar os dados do upload e botão para efetuar download do arquivo</li></ul>
